@model LoginUser

<div class="container">
    <h2>Change password</h2>
    
    @if(ViewBag.msg is not null) {
        string alertClass = "success";
        if(ViewBag.error == true) alertClass = "danger";

        <div class="alert alert-@alertClass alert-dismissible fade show" role="alert">
            @ViewBag.msg
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    }
    <form asp-controller="Account" asp-action="ChangePassword" method="post">
        <label asp-for="Password">New password</label>
        <input asp-for="Password">
        <span asp-validation-for="Password" class="text-danger"></span> <br>

        <label asp-for="Password2"></label>
        <input asp-for="Password2">
        <span asp-validation-for="Password2" class="text-danger"></span> <br>

        <input type="hidden" asp-for="Email" value="example@example">

        <input type="submit" value="Change password">
    </form>
</div>
