@model LoginUser
@{
    ViewData["Title"] = "Sign up or log in";
    Layout = null;
}

<div class="text-center">
    <h1 class="display-4">Log in</h1>
    <form asp-controller="Account" asp-action="Login" method="post">
        <label asp-for="Email"></label>
        <input asp-for="Email"><br>
        <span asp-validation-for="Email" class="text-danger"></span> <br>

        <label asp-for="Password"></label>
        <input asp-for="Password"><br>
        <span asp-validation-for="Password" class="text-danger"></span> <br>

        <button type="submit">Log in</button><br>
        <span class="text-danger">@ViewBag.msg</span>
    </form>
</div>

<div class="text-center">
    <h1 class="display-4">Sign up</h1>
    <form asp-controller="Account" asp-action="Register" method="post">
        <label asp-for="Email"></label>
        <input asp-for="Email"><br>
        <span asp-validation-for="Email" class="text-danger"></span> <br>

        <label asp-for="Password"></label>
        <input asp-for="Password"><br>
        <span asp-validation-for="Password" class="text-danger"></span> <br>

        <label asp-for="Password2"></label>
        <input asp-for="Password2"><br>
        <span asp-validation-for="Password2" class="text-danger"></span> <br>

        <button type="submit">Sign up</button><br>
        <span class="text-danger">@ViewBag.msg</span>
    </form>
</div>