@{
    ViewData["Title"] = "Profile";
    
    var user = ViewBag.user;
}

<div class="text-center">
    <h1 class="display-4">Your profile</h1>
</div>
<div>
    Email: @user.Email <br>
    @if(user.isAdmin) { <text>Admin<br></text>}
    <a asp-controller="Account" asp-action="ChangePassword">Change password</a><br>
    <a asp-controller="Account" asp-action="DeleteAccount">Delete account</a>
</div>
