@model Ingredient
@{
    ViewData["Title"] = "Add Ingredient";
}

<div class="text-center">
    @if(ViewBag.msg is not null) {
        string alertClass = "success";
        if(ViewBag.error == true) alertClass = "danger";

        <div class="alert alert-@alertClass alert-dismissible fade show" role="alert">
            @ViewBag.msg
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    }

    <h1 class="display-4">Add Ingredient</h1>
    <form asp-controller="Ingredient" asp-action="Add" method="post">
        <label asp-for="Name"></label>
        <input asp-for="Name"><br>
        <span asp-validation-for="Name" class="text-danger"></span> <br>

        <label asp-for="Description"></label>
        <textarea asp-for="Description"></textarea><br>
        <span asp-validation-for="Description" class="text-danger"></span> <br>

        <label asp-for="Calories"></label>
        <input asp-for="Calories" type="number" step="0.1"><br>
        <span asp-validation-for="Calories" class="text-danger"></span> <br>

        <label asp-for="Unit"></label>
        <select asp-for="Unit" asp-items="Html.GetEnumSelectList<Units>()"></select>
        <span asp-validation-for="Unit" class="text-danger"></span> <br><br>

        <label asp-for="Carbs"></label>
        <input asp-for="Carbs" type="number" step="0.1"><br>
        <span asp-validation-for="Carbs" class="text-danger"></span> <br>

        <label asp-for="Fats"></label>
        <input asp-for="Fats" type="number" step="0.1"><br>
        <span asp-validation-for="Fats" class="text-danger"></span> <br>

        <label asp-for="Fiber"></label>
        <input asp-for="Fiber" type="number" step="0.1"><br>
        <span asp-validation-for="Fiber" class="text-danger"></span> <br>

        <label asp-for="Proteins"></label>
        <input asp-for="Proteins" type="number" step="0.1"><br>
        <span asp-validation-for="Proteins" class="text-danger"></span> <br>

        <label asp-for="Salt"></label>
        <input asp-for="Salt" type="number" step="0.1"><br>
        <span asp-validation-for="Salt" class="text-danger"></span> <br>

        <button type="submit">Submit</button><br>
    </form>
</div>